<%= render 'list', book: Book.new, user: @book.user %>

<div>
  <p>タイトル：<%= @book.title %></p>
  <p>オプション：<%= @book.body %></p>
  <% if @book.user == current_user %>
    <%= link_to "edit", edit_book_path(@book) %>
    <%= link_to "削除", book_path(@book), method: :delete, data: {confirm: "削除しますか？"}  %>
  <% end %>
</div>